/*
* @Author: Administrator
* @Date:   2018-08-03 23:42:15
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-04 09:18:21
*/

@charset "utf-8";

#main > div {
	width: 100%;
	min-width: 1230px;
}
#l_head {
	height: 164px;
	background-color: #ccc;
}
#y_slide {
	height: 536px;
	background-color: pink;
}
#y_brand {
	height: 745px;
	background-color: red;
}
#m_tmall {
	height: 1362px;
	background-color: yellow;
}
#m_goods1 {
	height: 3725px;
	background-color: orange;
}
#x_goods2 {
	height: 6728px;
	background-color: purple;
}
#x_footer {
	height: 653px;
	background-color: blue;
}


/* 开始------------------------------------------------- */

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
#x_footer{
	background-color: #fff;
}
#main #x_footer #x_enddiv{
	width: 100%;
	border-bottom: solid 1px #d1d7dc;
	box-sizing: border-box;
}
#main #x_footer .x_end{
    width: 80px;
    height: 45px;
    margin: 0 auto 10px;
    background: url(../images/xf/6.png) no-repeat;
}
#main #x_footer #x_top,#x_center{
	margin: 25px auto;
	width: 90%;
}
#main #x_footer #x_top{
	background: url(../images/xf/top.jpg) no-repeat;
	height: 100px;
/*	background-size: auto auto;*/
}
#main #x_footer #x_center{
    height: 190px;
    overflow: hidden;
    padding-top: 22px;
    box-sizing: border-box;
    margin-bottom: 0;
    background: url(../images/xf/4.png) 45px bottom no-repeat;
    background-size: 68px 25px;
    border-top: solid 1px #ededed;
}
#main #x_footer #x_center dl{
	float: left;
	padding-left: 5%;
	width: 15%;
/*	box-sizing: border-box;*/
}
#main #x_footer #x_center dt{
    height: 30px;
    display: inline-block;
    line-height: 30px;
    font-weight: bolder;
    color: #646464;	
}
#main #x_footer #x_center dd{
	height: 20px;
}
#main #x_footer #x_center dd a{
	color: #8b8b8b;
	font-size: 14px;
}
#main #x_footer #x_bottom{
	width: 100%;
	height: 200px;
	background-color: #111;
	border-top: solid 2px #ff0036;
	padding-left: 60px;
	box-sizing: border-box;
}
#x_footer #x_bottom .x_p1 a,.x_p2 a{
	color: #fff;
	font-size: 13px;
	display: inline-block;
	padding: 8px 1px;
	box-sizing: border-box;
}
#x_footer #x_bottom .x_p2 a::after{
    content: " |";
    color: #fff;
}
#x_footer #x_bottom .x_copyright{
	color: #a4a4a4;
	font-size: 13px;
}
#x_footer #x_bottom .x_copyright span,a,img{
    display: inline-block;
	margin-top: 2px;
}
#x_footer #x_bottom .x_copyright img{
	margin-right: 2px;
}
#x_footer #x_bottom .x_copyright a{
	color: #a4a4a4;
	font-size: 13px;
	margin-right: 27px;
}
#x_footer #x_bottom .x_copyright .x_p3,b,.x_p4{
	margin: 8px auto;
}
#x_footer #x_bottom .x_copyright .x_p4 img{
	margin-right: 10px;
}

